<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msjf.finance.cas.modules.organ.dao.SysDictMapper">
  <resultMap id="BaseResultMap" type="com.msjf.finance.cas.modules.organ.entity.SysDictEntity">
    <id column="dict_id" jdbcType="VARCHAR" property="dictId" />
    <id column="dict_key" jdbcType="VARCHAR" property="dictKey" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="ref_dict_key" jdbcType="VARCHAR" property="refDictKey" />
    <result column="sort_no" jdbcType="INTEGER" property="sortNo" />
    <result column="is_used" jdbcType="VARCHAR" property="isUsed" />
    <result column="dict_comment" jdbcType="VARCHAR" property="dictComment" />
  </resultMap>
  <sql id="Base_Column_List">
    dict_id, dict_key, dict_name, dict_value, ref_dict_key, sort_no, is_used, dict_comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.msjf.finance.cas.modules.organ.entity.SysDictKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_dict
    where dict_id = #{dictId,jdbcType=VARCHAR}
      and dict_key = #{dictKey,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.msjf.finance.cas.modules.organ.entity.SysDictKey">
    delete from sys_dict
    where dict_id = #{dictId,jdbcType=VARCHAR}
      and dict_key = #{dictKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.msjf.finance.cas.modules.organ.entity.SysDictEntity">
    insert into sys_dict (dict_id, dict_key, dict_name, 
      dict_value, ref_dict_key, sort_no, 
      is_used, dict_comment)
    values (#{dictId,jdbcType=VARCHAR}, #{dictKey,jdbcType=VARCHAR}, #{dictName,jdbcType=VARCHAR}, 
      #{dictValue,jdbcType=VARCHAR}, #{refDictKey,jdbcType=VARCHAR}, #{sortNo,jdbcType=INTEGER}, 
      #{isUsed,jdbcType=VARCHAR}, #{dictComment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.msjf.finance.cas.modules.organ.entity.SysDictEntity">
    insert into sys_dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        dict_id,
      </if>
      <if test="dictKey != null">
        dict_key,
      </if>
      <if test="dictName != null">
        dict_name,
      </if>
      <if test="dictValue != null">
        dict_value,
      </if>
      <if test="refDictKey != null">
        ref_dict_key,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="isUsed != null">
        is_used,
      </if>
      <if test="dictComment != null">
        dict_comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictId != null">
        #{dictId,jdbcType=VARCHAR},
      </if>
      <if test="dictKey != null">
        #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="refDictKey != null">
        #{refDictKey,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="isUsed != null">
        #{isUsed,jdbcType=VARCHAR},
      </if>
      <if test="dictComment != null">
        #{dictComment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msjf.finance.cas.modules.organ.entity.SysDictEntity">
    update sys_dict
    <set>
      <if test="dictName != null">
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null">
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="refDictKey != null">
        ref_dict_key = #{refDictKey,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="isUsed != null">
        is_used = #{isUsed,jdbcType=VARCHAR},
      </if>
      <if test="dictComment != null">
        dict_comment = #{dictComment,jdbcType=VARCHAR},
      </if>
    </set>
    where dict_id = #{dictId,jdbcType=VARCHAR}
      and dict_key = #{dictKey,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msjf.finance.cas.modules.organ.entity.SysDictEntity">
    update sys_dict
    set dict_name = #{dictName,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      ref_dict_key = #{refDictKey,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=INTEGER},
      is_used = #{isUsed,jdbcType=VARCHAR},
      dict_comment = #{dictComment,jdbcType=VARCHAR}
    where dict_id = #{dictId,jdbcType=VARCHAR}
      and dict_key = #{dictKey,jdbcType=VARCHAR}
  </update>
</mapper>