<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msjf.finance.cas.common.dao.persistence.CasRegisterInfoDao">
	<!--nullcas_register_info 按主键查询锁表-->
	<select id="getEntityKeyLock" parameterType="com.msjf.finance.cas.common.dao.key.CasRegisterInfoKey" 
	resultType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity">
	<![CDATA[
		select
			id "id",
			membertype "membertype",
			registersource "registersource",
			certificatetype "certificatetype",
			certificateno "certificateno",
			mobile "mobile",
			cardno "cardno",
			bank "bank",
			companyname "companyname",
			status "status",
			insertdate "insertdate",
			updatedate "updatedate",
			corname "corname",
			corcardtype "corcardtype",
			corcardno "corcardno",
			membername "membername"
		from cas.cas_register_info
		where 
			id = #{id}
		for update
	]]>
	</select>
	<!--nullcas_register_info 按主键查询-->
	<select id="getEntityKey" parameterType="com.msjf.finance.cas.common.dao.key.CasRegisterInfoKey" 
	resultType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity">
	<![CDATA[
		select
			id "id",
			membertype "membertype",
			registersource "registersource",
			certificatetype "certificatetype",
			certificateno "certificateno",
			mobile "mobile",
			cardno "cardno",
			bank "bank",
			companyname "companyname",
			status "status",
			insertdate "insertdate",
			updatedate "updatedate",
			corname "corname",
			corcardtype "corcardtype",
			corcardno "corcardno",
			membername "membername"
		from cas.cas_register_info
		where 
			id = #{id}
	]]>
	</select>
	<!--nullcas_register_info 按主键查询-->
	<select id="getHashMapKey" parameterType="com.msjf.finance.cas.common.dao.key.CasRegisterInfoKey" 
	resultType="java.util.LinkedHashMap">
	<![CDATA[
		select
			id "id",
			membertype "membertype",
			registersource "registersource",
			certificatetype "certificatetype",
			certificateno "certificateno",
			mobile "mobile",
			cardno "cardno",
			bank "bank",
			companyname "companyname",
			status "status",
			insertdate "insertdate",
			updatedate "updatedate",
			corname "corname",
			corcardtype "corcardtype",
			corcardno "corcardno",
			membername "membername"
		from cas.cas_register_info
		where 
			id = #{id}
	]]>
	</select>
	<!--nullcas_register_info 按实体查询锁表-->
	<select id="getListEntityLock" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity" 
	resultType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity">
	<![CDATA[
		select
			id "id",
			membertype "membertype",
			registersource "registersource",
			certificatetype "certificatetype",
			certificateno "certificateno",
			mobile "mobile",
			cardno "cardno",
			bank "bank",
			companyname "companyname",
			status "status",
			insertdate "insertdate",
			updatedate "updatedate",
			corname "corname",
			corcardtype "corcardtype",
			corcardno "corcardno",
			membername "membername"
		from cas.cas_register_info
	]]>
	<where>
		<if test="id != null and id!= '' "><![CDATA[ and id=#{id}]]></if>
		<if test="membertype != null and membertype!= '' "><![CDATA[ and membertype=#{membertype}]]></if>
		<if test="registersource != null and registersource!= '' "><![CDATA[ and registersource=#{registersource}]]></if>
		<if test="certificatetype != null and certificatetype!= '' "><![CDATA[ and certificatetype=#{certificatetype}]]></if>
		<if test="certificateno != null and certificateno!= '' "><![CDATA[ and certificateno=#{certificateno}]]></if>
		<if test="mobile != null and mobile!= '' "><![CDATA[ and mobile=#{mobile}]]></if>
		<if test="cardno != null and cardno!= '' "><![CDATA[ and cardno=#{cardno}]]></if>
		<if test="bank != null and bank!= '' "><![CDATA[ and bank=#{bank}]]></if>
		<if test="companyname != null and companyname!= '' "><![CDATA[ and companyname=#{companyname}]]></if>
		<if test="status != null and status!= '' "><![CDATA[ and status=#{status}]]></if>
		<if test="insertdate != null and insertdate!= '' "><![CDATA[ and insertdate=#{insertdate}]]></if>
		<if test="updatedate != null and updatedate!= '' "><![CDATA[ and updatedate=#{updatedate}]]></if>
		<if test="corname != null and corname!= '' "><![CDATA[ and corname=#{corname}]]></if>
		<if test="corcardtype != null and corcardtype!= '' "><![CDATA[ and corcardtype=#{corcardtype}]]></if>
		<if test="corcardno != null and corcardno!= '' "><![CDATA[ and corcardno=#{corcardno}]]></if>
		<if test="membername != null and membername!= '' "><![CDATA[ and membername=#{membername}]]></if>
	</where>
	<![CDATA[for update ]]>
	</select>
	<!--nullcas_register_info 按实体查询-->
	<select id="getListEntity" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity" 
	resultType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity">
	<![CDATA[
		select
			id "id",
			membertype "membertype",
			registersource "registersource",
			certificatetype "certificatetype",
			certificateno "certificateno",
			mobile "mobile",
			cardno "cardno",
			bank "bank",
			companyname "companyname",
			status "status",
			insertdate "insertdate",
			updatedate "updatedate",
			corname "corname",
			corcardtype "corcardtype",
			corcardno "corcardno",
			membername "membername"
		from cas.cas_register_info
	]]>
	<where>
		<if test="id != null and id!= '' "><![CDATA[ and id=#{id}]]></if>
		<if test="membertype != null and membertype!= '' "><![CDATA[ and membertype=#{membertype}]]></if>
		<if test="registersource != null and registersource!= '' "><![CDATA[ and registersource=#{registersource}]]></if>
		<if test="certificatetype != null and certificatetype!= '' "><![CDATA[ and certificatetype=#{certificatetype}]]></if>
		<if test="certificateno != null and certificateno!= '' "><![CDATA[ and certificateno=#{certificateno}]]></if>
		<if test="mobile != null and mobile!= '' "><![CDATA[ and mobile=#{mobile}]]></if>
		<if test="cardno != null and cardno!= '' "><![CDATA[ and cardno=#{cardno}]]></if>
		<if test="bank != null and bank!= '' "><![CDATA[ and bank=#{bank}]]></if>
		<if test="companyname != null and companyname!= '' "><![CDATA[ and companyname=#{companyname}]]></if>
		<if test="status != null and status!= '' "><![CDATA[ and status=#{status}]]></if>
		<if test="insertdate != null and insertdate!= '' "><![CDATA[ and insertdate=#{insertdate}]]></if>
		<if test="updatedate != null and updatedate!= '' "><![CDATA[ and updatedate=#{updatedate}]]></if>
		<if test="corname != null and corname!= '' "><![CDATA[ and corname=#{corname}]]></if>
		<if test="corcardtype != null and corcardtype!= '' "><![CDATA[ and corcardtype=#{corcardtype}]]></if>
		<if test="corcardno != null and corcardno!= '' "><![CDATA[ and corcardno=#{corcardno}]]></if>
		<if test="membername != null and membername!= '' "><![CDATA[ and membername=#{membername}]]></if>
	</where>
	</select>
	<!--nullcas_register_info 按实体查询-->
	<select id="getListMap" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity" 
	resultType="java.util.LinkedHashMap">
	<![CDATA[
		select
			id "id",
			membertype "membertype",
			registersource "registersource",
			certificatetype "certificatetype",
			certificateno "certificateno",
			mobile "mobile",
			cardno "cardno",
			bank "bank",
			companyname "companyname",
			status "status",
			insertdate "insertdate",
			updatedate "updatedate",
			corname "corname",
			corcardtype "corcardtype",
			corcardno "corcardno",
			membername "membername"
		from cas.cas_register_info
	]]>
	<where>
		<if test="id != null and id!= '' "><![CDATA[ and id=#{id}]]></if>
		<if test="membertype != null and membertype!= '' "><![CDATA[ and membertype=#{membertype}]]></if>
		<if test="registersource != null and registersource!= '' "><![CDATA[ and registersource=#{registersource}]]></if>
		<if test="certificatetype != null and certificatetype!= '' "><![CDATA[ and certificatetype=#{certificatetype}]]></if>
		<if test="certificateno != null and certificateno!= '' "><![CDATA[ and certificateno=#{certificateno}]]></if>
		<if test="mobile != null and mobile!= '' "><![CDATA[ and mobile=#{mobile}]]></if>
		<if test="cardno != null and cardno!= '' "><![CDATA[ and cardno=#{cardno}]]></if>
		<if test="bank != null and bank!= '' "><![CDATA[ and bank=#{bank}]]></if>
		<if test="companyname != null and companyname!= '' "><![CDATA[ and companyname=#{companyname}]]></if>
		<if test="status != null and status!= '' "><![CDATA[ and status=#{status}]]></if>
		<if test="insertdate != null and insertdate!= '' "><![CDATA[ and insertdate=#{insertdate}]]></if>
		<if test="updatedate != null and updatedate!= '' "><![CDATA[ and updatedate=#{updatedate}]]></if>
		<if test="corname != null and corname!= '' "><![CDATA[ and corname=#{corname}]]></if>
		<if test="corcardtype != null and corcardtype!= '' "><![CDATA[ and corcardtype=#{corcardtype}]]></if>
		<if test="corcardno != null and corcardno!= '' "><![CDATA[ and corcardno=#{corcardno}]]></if>
		<if test="membername != null and membername!= '' "><![CDATA[ and membername=#{membername}]]></if>
	</where>
	</select>
	<!--nullcas_register_info 按实体新增记录 mysql-->
	<insert id="insEntity" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity" databaseId="mysql">
	<![CDATA[
		insert into cas.cas_register_info(
			id,membertype,registersource,certificatetype,certificateno,
			mobile,cardno,bank,companyname,status,
			insertdate,updatedate,corname,corcardtype,corcardno,
			membername
		) values(
			#{id, jdbcType=VARCHAR},#{membertype, jdbcType=VARCHAR},#{registersource, jdbcType=VARCHAR},#{certificatetype, jdbcType=VARCHAR},#{certificateno, jdbcType=VARCHAR},
			#{mobile, jdbcType=VARCHAR},#{cardno, jdbcType=VARCHAR},#{bank, jdbcType=VARCHAR},#{companyname, jdbcType=VARCHAR},#{status, jdbcType=VARCHAR},
			#{insertdate, jdbcType=VARCHAR},#{updatedate, jdbcType=VARCHAR},#{corname, jdbcType=VARCHAR},#{corcardtype, jdbcType=VARCHAR},#{corcardno, jdbcType=VARCHAR},
			#{membername, jdbcType=VARCHAR}
	)]]>
	</insert>
	<!--nullcas_register_info 按批量实体新增记录mysql-->
	<insert id="insEntityBatch" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity" databaseId="mysql">
	<![CDATA[
		insert into cas.cas_register_info(
			id,membertype,registersource,certificatetype,certificateno,
			mobile,cardno,bank,companyname,status,
			insertdate,updatedate,corname,corcardtype,corcardno,
			membername
		)
		values
	]]>
		<foreach item="item" index="index" collection="list" open="" close="" separator=",">
			(
				#{item.id, jdbcType=VARCHAR},#{item.membertype, jdbcType=VARCHAR},#{item.registersource, jdbcType=VARCHAR},#{item.certificatetype, jdbcType=VARCHAR},#{item.certificateno, jdbcType=VARCHAR},
				#{item.mobile, jdbcType=VARCHAR},#{item.cardno, jdbcType=VARCHAR},#{item.bank, jdbcType=VARCHAR},#{item.companyname, jdbcType=VARCHAR},#{item.status, jdbcType=VARCHAR},
				#{item.insertdate, jdbcType=VARCHAR},#{item.updatedate, jdbcType=VARCHAR},#{item.corname, jdbcType=VARCHAR},#{item.corcardtype, jdbcType=VARCHAR},#{item.corcardno, jdbcType=VARCHAR},
				#{item.membername, jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	<!--nullcas_register_info 按实体更新记录-->
	<update id="updEntity" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity">
	<![CDATA[
		update cas.cas_register_info
	]]>
	<set>
		 <if test="id != null and id != '' "><![CDATA[id=#{id, jdbcType=VARCHAR},]]></if>
		 <if test="membertype != null and membertype != '' "><![CDATA[membertype=#{membertype, jdbcType=VARCHAR},]]></if>
		 <if test="registersource != null and registersource != '' "><![CDATA[registersource=#{registersource, jdbcType=VARCHAR},]]></if>
		 <if test="certificatetype != null and certificatetype != '' "><![CDATA[certificatetype=#{certificatetype, jdbcType=VARCHAR},]]></if>
		 <if test="certificateno != null and certificateno != '' "><![CDATA[certificateno=#{certificateno, jdbcType=VARCHAR},]]></if>
		 <if test="mobile != null and mobile != '' "><![CDATA[mobile=#{mobile, jdbcType=VARCHAR},]]></if>
		 <if test="cardno != null and cardno != '' "><![CDATA[cardno=#{cardno, jdbcType=VARCHAR},]]></if>
		 <if test="bank != null and bank != '' "><![CDATA[bank=#{bank, jdbcType=VARCHAR},]]></if>
		 <if test="companyname != null and companyname != '' "><![CDATA[companyname=#{companyname, jdbcType=VARCHAR},]]></if>
		 <if test="status != null and status != '' "><![CDATA[status=#{status, jdbcType=VARCHAR},]]></if>
		 <if test="insertdate != null and insertdate != '' "><![CDATA[insertdate=#{insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="updatedate != null and updatedate != '' "><![CDATA[updatedate=#{updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="corname != null and corname != '' "><![CDATA[corname=#{corname, jdbcType=VARCHAR},]]></if>
		 <if test="corcardtype != null and corcardtype != '' "><![CDATA[corcardtype=#{corcardtype, jdbcType=VARCHAR},]]></if>
		 <if test="corcardno != null and corcardno != '' "><![CDATA[corcardno=#{corcardno, jdbcType=VARCHAR},]]></if>
		 <if test="membername != null and membername != '' "><![CDATA[membername=#{membername, jdbcType=VARCHAR},]]></if>
	</set>
	<![CDATA[ where id = #{id}
	]]>
	</update>
	<!--nullcas_register_info 批量实体更新记录 mysql-->
	<update id="updEntityBatch" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity" databaseId="mysql">
		<foreach item="item" index="index" collection="list" open="" close=";" separator=";">
			update cas.cas_register_info
		<set>
		 <if test="item.id != null and item.id != '' "><![CDATA[id=#{item.id, jdbcType=VARCHAR},]]></if>
		 <if test="item.membertype != null and item.membertype != '' "><![CDATA[membertype=#{item.membertype, jdbcType=VARCHAR},]]></if>
		 <if test="item.registersource != null and item.registersource != '' "><![CDATA[registersource=#{item.registersource, jdbcType=VARCHAR},]]></if>
		 <if test="item.certificatetype != null and item.certificatetype != '' "><![CDATA[certificatetype=#{item.certificatetype, jdbcType=VARCHAR},]]></if>
		 <if test="item.certificateno != null and item.certificateno != '' "><![CDATA[certificateno=#{item.certificateno, jdbcType=VARCHAR},]]></if>
		 <if test="item.mobile != null and item.mobile != '' "><![CDATA[mobile=#{item.mobile, jdbcType=VARCHAR},]]></if>
		 <if test="item.cardno != null and item.cardno != '' "><![CDATA[cardno=#{item.cardno, jdbcType=VARCHAR},]]></if>
		 <if test="item.bank != null and item.bank != '' "><![CDATA[bank=#{item.bank, jdbcType=VARCHAR},]]></if>
		 <if test="item.companyname != null and item.companyname != '' "><![CDATA[companyname=#{item.companyname, jdbcType=VARCHAR},]]></if>
		 <if test="item.status != null and item.status != '' "><![CDATA[status=#{item.status, jdbcType=VARCHAR},]]></if>
		 <if test="item.insertdate != null and item.insertdate != '' "><![CDATA[insertdate=#{item.insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="item.updatedate != null and item.updatedate != '' "><![CDATA[updatedate=#{item.updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="item.corname != null and item.corname != '' "><![CDATA[corname=#{item.corname, jdbcType=VARCHAR},]]></if>
		 <if test="item.corcardtype != null and item.corcardtype != '' "><![CDATA[corcardtype=#{item.corcardtype, jdbcType=VARCHAR},]]></if>
		 <if test="item.corcardno != null and item.corcardno != '' "><![CDATA[corcardno=#{item.corcardno, jdbcType=VARCHAR},]]></if>
		 <if test="item.membername != null and item.membername != '' "><![CDATA[membername=#{item.membername, jdbcType=VARCHAR},]]></if>
			</set>
			<![CDATA[ where id = #{item.id}
			]]>
		</foreach>
	</update>
	<!--nullcas_register_info 按实体更新记录-->
	<update id="updAllowEmptyEntity" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity">
	<![CDATA[
		update cas.cas_register_info
	]]>
	<set>
		 <if test="id != null "> <![CDATA[id=#{id, jdbcType=VARCHAR},]]></if>
		 <if test="membertype != null "> <![CDATA[membertype=#{membertype, jdbcType=VARCHAR},]]></if>
		 <if test="registersource != null "> <![CDATA[registersource=#{registersource, jdbcType=VARCHAR},]]></if>
		 <if test="certificatetype != null "> <![CDATA[certificatetype=#{certificatetype, jdbcType=VARCHAR},]]></if>
		 <if test="certificateno != null "> <![CDATA[certificateno=#{certificateno, jdbcType=VARCHAR},]]></if>
		 <if test="mobile != null "> <![CDATA[mobile=#{mobile, jdbcType=VARCHAR},]]></if>
		 <if test="cardno != null "> <![CDATA[cardno=#{cardno, jdbcType=VARCHAR},]]></if>
		 <if test="bank != null "> <![CDATA[bank=#{bank, jdbcType=VARCHAR},]]></if>
		 <if test="companyname != null "> <![CDATA[companyname=#{companyname, jdbcType=VARCHAR},]]></if>
		 <if test="status != null "> <![CDATA[status=#{status, jdbcType=VARCHAR},]]></if>
		 <if test="insertdate != null "> <![CDATA[insertdate=#{insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="updatedate != null "> <![CDATA[updatedate=#{updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="corname != null "> <![CDATA[corname=#{corname, jdbcType=VARCHAR},]]></if>
		 <if test="corcardtype != null "> <![CDATA[corcardtype=#{corcardtype, jdbcType=VARCHAR},]]></if>
		 <if test="corcardno != null "> <![CDATA[corcardno=#{corcardno, jdbcType=VARCHAR},]]></if>
		 <if test="membername != null "> <![CDATA[membername=#{membername, jdbcType=VARCHAR},]]></if>
	</set>
	<![CDATA[ where id = #{id}
	]]>
	</update>
	<!--nullcas_register_info 批量实体更新记录 mysql-->
	<update id="updAllowEmptyBatchEntity" parameterType="com.msjf.finance.cas.common.dao.entity.CasRegisterInfoEntity" databaseId="mysql">
		<foreach item="item" index="index" collection="list" open="" close=";" separator=";">
			update cas.cas_register_info
		<set>
		 <if test="item.id != null "><![CDATA[id=#{item.id, jdbcType=VARCHAR},]]></if>
		 <if test="item.membertype != null "><![CDATA[membertype=#{item.membertype, jdbcType=VARCHAR},]]></if>
		 <if test="item.registersource != null "><![CDATA[registersource=#{item.registersource, jdbcType=VARCHAR},]]></if>
		 <if test="item.certificatetype != null "><![CDATA[certificatetype=#{item.certificatetype, jdbcType=VARCHAR},]]></if>
		 <if test="item.certificateno != null "><![CDATA[certificateno=#{item.certificateno, jdbcType=VARCHAR},]]></if>
		 <if test="item.mobile != null "><![CDATA[mobile=#{item.mobile, jdbcType=VARCHAR},]]></if>
		 <if test="item.cardno != null "><![CDATA[cardno=#{item.cardno, jdbcType=VARCHAR},]]></if>
		 <if test="item.bank != null "><![CDATA[bank=#{item.bank, jdbcType=VARCHAR},]]></if>
		 <if test="item.companyname != null "><![CDATA[companyname=#{item.companyname, jdbcType=VARCHAR},]]></if>
		 <if test="item.status != null "><![CDATA[status=#{item.status, jdbcType=VARCHAR},]]></if>
		 <if test="item.insertdate != null "><![CDATA[insertdate=#{item.insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="item.updatedate != null "><![CDATA[updatedate=#{item.updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="item.corname != null "><![CDATA[corname=#{item.corname, jdbcType=VARCHAR},]]></if>
		 <if test="item.corcardtype != null "><![CDATA[corcardtype=#{item.corcardtype, jdbcType=VARCHAR},]]></if>
		 <if test="item.corcardno != null "><![CDATA[corcardno=#{item.corcardno, jdbcType=VARCHAR},]]></if>
		 <if test="item.membername != null "><![CDATA[membername=#{item.membername, jdbcType=VARCHAR},]]></if>
			</set>
			<![CDATA[ where id = #{item.id}
			]]>
		</foreach>
	</update>
	<!--nullcas_register_info 按主键删除记录-->
	<delete id="delEntityKey" parameterType="com.msjf.finance.cas.common.dao.key.CasRegisterInfoKey">
	<![CDATA[
		delete from cas.cas_register_info
		where
			id = #{id}
	]]>
	</delete>
	<!--nullcas_register_info 根据主键批量删除记录  -->
	<delete id="delEntityKeyBatch" parameterType="com.msjf.finance.cas.common.dao.key.CasRegisterInfoKey">
		delete from cas.cas_register_info where
		<foreach item="item" index="index" collection="list" open="(" close=")" separator="or">
			<![CDATA[ id = #{item.id}
			]]>
		</foreach>
	</delete>
</mapper>