<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msjf.finance.cas.common.dao.persistence.OrganFlowDao">
	<!--企业业务流程信息表organ_flow 按主键查询锁表-->
	<select id="getEntityKeyLock" parameterType="com.msjf.finance.cas.common.dao.key.OrganFlowKey" 
	resultType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity">
	<![CDATA[
		select
			orgcustomerno "orgcustomerno",
			customerno "customerno",
			type "type",
			status "status",
			processid "processid",
			isreturn "isreturn",
			insertdate "insertdate",
			inserttime "inserttime",
			updatedate "updatedate",
			updatetime "updatetime"
		from cas.organ_flow
		where 
			orgcustomerno = #{orgcustomerno}
			and type = #{type}
		for update
	]]>
	</select>
	<!--企业业务流程信息表organ_flow 按主键查询-->
	<select id="getEntityKey" parameterType="com.msjf.finance.cas.common.dao.key.OrganFlowKey" 
	resultType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity">
	<![CDATA[
		select
			orgcustomerno "orgcustomerno",
			customerno "customerno",
			type "type",
			status "status",
			processid "processid",
			isreturn "isreturn",
			insertdate "insertdate",
			inserttime "inserttime",
			updatedate "updatedate",
			updatetime "updatetime"
		from cas.organ_flow
		where 
			orgcustomerno = #{orgcustomerno}
			and type = #{type}
	]]>
	</select>
	<!--企业业务流程信息表organ_flow 按主键查询-->
	<select id="getHashMapKey" parameterType="com.msjf.finance.cas.common.dao.key.OrganFlowKey" 
	resultType="java.util.LinkedHashMap">
	<![CDATA[
		select
			orgcustomerno "orgcustomerno",
			customerno "customerno",
			type "type",
			status "status",
			processid "processid",
			isreturn "isreturn",
			insertdate "insertdate",
			inserttime "inserttime",
			updatedate "updatedate",
			updatetime "updatetime"
		from cas.organ_flow
		where 
			orgcustomerno = #{orgcustomerno}
			and type = #{type}
	]]>
	</select>
	<!--企业业务流程信息表organ_flow 按实体查询锁表-->
	<select id="getListEntityLock" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity" 
	resultType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity">
	<![CDATA[
		select
			orgcustomerno "orgcustomerno",
			customerno "customerno",
			type "type",
			status "status",
			processid "processid",
			isreturn "isreturn",
			insertdate "insertdate",
			inserttime "inserttime",
			updatedate "updatedate",
			updatetime "updatetime"
		from cas.organ_flow
	]]>
	<where>
		<if test="orgcustomerno != null and orgcustomerno!= '' "><![CDATA[ and orgcustomerno=#{orgcustomerno}]]></if>
		<if test="customerno != null and customerno!= '' "><![CDATA[ and customerno=#{customerno}]]></if>
		<if test="type != null and type!= '' "><![CDATA[ and type=#{type}]]></if>
		<if test="status != null and status!= '' "><![CDATA[ and status=#{status}]]></if>
		<if test="processid != null and processid!= '' "><![CDATA[ and processid=#{processid}]]></if>
		<if test="isreturn != null and isreturn!= '' "><![CDATA[ and isreturn=#{isreturn}]]></if>
		<if test="insertdate != null and insertdate!= '' "><![CDATA[ and insertdate=#{insertdate}]]></if>
		<if test="inserttime != null and inserttime!= '' "><![CDATA[ and inserttime=#{inserttime}]]></if>
		<if test="updatedate != null and updatedate!= '' "><![CDATA[ and updatedate=#{updatedate}]]></if>
		<if test="updatetime != null and updatetime!= '' "><![CDATA[ and updatetime=#{updatetime}]]></if>
	</where>
	<![CDATA[for update ]]>
	</select>
	<!--企业业务流程信息表organ_flow 按实体查询-->
	<select id="getListEntity" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity" 
	resultType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity">
	<![CDATA[
		select
			orgcustomerno "orgcustomerno",
			customerno "customerno",
			type "type",
			status "status",
			processid "processid",
			isreturn "isreturn",
			insertdate "insertdate",
			inserttime "inserttime",
			updatedate "updatedate",
			updatetime "updatetime"
		from cas.organ_flow
	]]>
	<where>
		<if test="orgcustomerno != null and orgcustomerno!= '' "><![CDATA[ and orgcustomerno=#{orgcustomerno}]]></if>
		<if test="customerno != null and customerno!= '' "><![CDATA[ and customerno=#{customerno}]]></if>
		<if test="type != null and type!= '' "><![CDATA[ and type=#{type}]]></if>
		<if test="status != null and status!= '' "><![CDATA[ and status=#{status}]]></if>
		<if test="processid != null and processid!= '' "><![CDATA[ and processid=#{processid}]]></if>
		<if test="isreturn != null and isreturn!= '' "><![CDATA[ and isreturn=#{isreturn}]]></if>
		<if test="insertdate != null and insertdate!= '' "><![CDATA[ and insertdate=#{insertdate}]]></if>
		<if test="inserttime != null and inserttime!= '' "><![CDATA[ and inserttime=#{inserttime}]]></if>
		<if test="updatedate != null and updatedate!= '' "><![CDATA[ and updatedate=#{updatedate}]]></if>
		<if test="updatetime != null and updatetime!= '' "><![CDATA[ and updatetime=#{updatetime}]]></if>
	</where>
	</select>
	<!--企业业务流程信息表organ_flow 按实体查询-->
	<select id="getListMap" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity" 
	resultType="java.util.LinkedHashMap">
	<![CDATA[
		select
			orgcustomerno "orgcustomerno",
			customerno "customerno",
			type "type",
			status "status",
			processid "processid",
			isreturn "isreturn",
			insertdate "insertdate",
			inserttime "inserttime",
			updatedate "updatedate",
			updatetime "updatetime"
		from cas.organ_flow
	]]>
	<where>
		<if test="orgcustomerno != null and orgcustomerno!= '' "><![CDATA[ and orgcustomerno=#{orgcustomerno}]]></if>
		<if test="customerno != null and customerno!= '' "><![CDATA[ and customerno=#{customerno}]]></if>
		<if test="type != null and type!= '' "><![CDATA[ and type=#{type}]]></if>
		<if test="status != null and status!= '' "><![CDATA[ and status=#{status}]]></if>
		<if test="processid != null and processid!= '' "><![CDATA[ and processid=#{processid}]]></if>
		<if test="isreturn != null and isreturn!= '' "><![CDATA[ and isreturn=#{isreturn}]]></if>
		<if test="insertdate != null and insertdate!= '' "><![CDATA[ and insertdate=#{insertdate}]]></if>
		<if test="inserttime != null and inserttime!= '' "><![CDATA[ and inserttime=#{inserttime}]]></if>
		<if test="updatedate != null and updatedate!= '' "><![CDATA[ and updatedate=#{updatedate}]]></if>
		<if test="updatetime != null and updatetime!= '' "><![CDATA[ and updatetime=#{updatetime}]]></if>
	</where>
	</select>
	<!--企业业务流程信息表organ_flow 按实体新增记录 mysql-->
	<insert id="insEntity" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity" databaseId="mysql">
	<![CDATA[
		insert into cas.organ_flow(
			orgcustomerno,customerno,type,status,processid,
			isreturn,insertdate,inserttime,updatedate,updatetime
		) values(
			#{orgcustomerno, jdbcType=VARCHAR},#{customerno, jdbcType=VARCHAR},#{type, jdbcType=VARCHAR},#{status, jdbcType=VARCHAR},#{processid, jdbcType=VARCHAR},
			#{isreturn, jdbcType=VARCHAR},#{insertdate, jdbcType=VARCHAR},#{inserttime, jdbcType=VARCHAR},#{updatedate, jdbcType=VARCHAR},#{updatetime, jdbcType=VARCHAR}
	)]]>
	</insert>
	<!--企业业务流程信息表organ_flow 按批量实体新增记录mysql-->
	<insert id="insEntityBatch" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity" databaseId="mysql">
	<![CDATA[
		insert into cas.organ_flow(
			orgcustomerno,customerno,type,status,processid,
			isreturn,insertdate,inserttime,updatedate,updatetime
		)
		values
	]]>
		<foreach item="item" index="index" collection="list" open="" close="" separator=",">
			(
				#{item.orgcustomerno, jdbcType=VARCHAR},#{item.customerno, jdbcType=VARCHAR},#{item.type, jdbcType=VARCHAR},#{item.status, jdbcType=VARCHAR},#{item.processid, jdbcType=VARCHAR},
				#{item.isreturn, jdbcType=VARCHAR},#{item.insertdate, jdbcType=VARCHAR},#{item.inserttime, jdbcType=VARCHAR},#{item.updatedate, jdbcType=VARCHAR},#{item.updatetime, jdbcType=VARCHAR}
			)
		</foreach>
	</insert>
	<!--企业业务流程信息表organ_flow 按实体更新记录-->
	<update id="updEntity" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity">
	<![CDATA[
		update cas.organ_flow
	]]>
	<set>
		 <if test="orgcustomerno != null and orgcustomerno != '' "><![CDATA[orgcustomerno=#{orgcustomerno, jdbcType=VARCHAR},]]></if>
		 <if test="customerno != null and customerno != '' "><![CDATA[customerno=#{customerno, jdbcType=VARCHAR},]]></if>
		 <if test="type != null and type != '' "><![CDATA[type=#{type, jdbcType=VARCHAR},]]></if>
		 <if test="status != null and status != '' "><![CDATA[status=#{status, jdbcType=VARCHAR},]]></if>
		 <if test="processid != null and processid != '' "><![CDATA[processid=#{processid, jdbcType=VARCHAR},]]></if>
		 <if test="isreturn != null and isreturn != '' "><![CDATA[isreturn=#{isreturn, jdbcType=VARCHAR},]]></if>
		 <if test="insertdate != null and insertdate != '' "><![CDATA[insertdate=#{insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="inserttime != null and inserttime != '' "><![CDATA[inserttime=#{inserttime, jdbcType=VARCHAR},]]></if>
		 <if test="updatedate != null and updatedate != '' "><![CDATA[updatedate=#{updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="updatetime != null and updatetime != '' "><![CDATA[updatetime=#{updatetime, jdbcType=VARCHAR},]]></if>
	</set>
	<![CDATA[ where orgcustomerno = #{orgcustomerno} and type = #{type}
	]]>
	</update>
	<!--企业业务流程信息表organ_flow 批量实体更新记录 mysql-->
	<update id="updEntityBatch" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity" databaseId="mysql">
		<foreach item="item" index="index" collection="list" open="" close=";" separator=";">
			update cas.organ_flow
		<set>
		 <if test="item.orgcustomerno != null and item.orgcustomerno != '' "><![CDATA[orgcustomerno=#{item.orgcustomerno, jdbcType=VARCHAR},]]></if>
		 <if test="item.customerno != null and item.customerno != '' "><![CDATA[customerno=#{item.customerno, jdbcType=VARCHAR},]]></if>
		 <if test="item.type != null and item.type != '' "><![CDATA[type=#{item.type, jdbcType=VARCHAR},]]></if>
		 <if test="item.status != null and item.status != '' "><![CDATA[status=#{item.status, jdbcType=VARCHAR},]]></if>
		 <if test="item.processid != null and item.processid != '' "><![CDATA[processid=#{item.processid, jdbcType=VARCHAR},]]></if>
		 <if test="item.isreturn != null and item.isreturn != '' "><![CDATA[isreturn=#{item.isreturn, jdbcType=VARCHAR},]]></if>
		 <if test="item.insertdate != null and item.insertdate != '' "><![CDATA[insertdate=#{item.insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="item.inserttime != null and item.inserttime != '' "><![CDATA[inserttime=#{item.inserttime, jdbcType=VARCHAR},]]></if>
		 <if test="item.updatedate != null and item.updatedate != '' "><![CDATA[updatedate=#{item.updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="item.updatetime != null and item.updatetime != '' "><![CDATA[updatetime=#{item.updatetime, jdbcType=VARCHAR},]]></if>
			</set>
			<![CDATA[ where orgcustomerno = #{item.orgcustomerno} and type = #{item.type}
			]]>
		</foreach>
	</update>
	<!--企业业务流程信息表organ_flow 按实体更新记录-->
	<update id="updAllowEmptyEntity" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity">
	<![CDATA[
		update cas.organ_flow
	]]>
	<set>
		 <if test="orgcustomerno != null "> <![CDATA[orgcustomerno=#{orgcustomerno, jdbcType=VARCHAR},]]></if>
		 <if test="customerno != null "> <![CDATA[customerno=#{customerno, jdbcType=VARCHAR},]]></if>
		 <if test="type != null "> <![CDATA[type=#{type, jdbcType=VARCHAR},]]></if>
		 <if test="status != null "> <![CDATA[status=#{status, jdbcType=VARCHAR},]]></if>
		 <if test="processid != null "> <![CDATA[processid=#{processid, jdbcType=VARCHAR},]]></if>
		 <if test="isreturn != null "> <![CDATA[isreturn=#{isreturn, jdbcType=VARCHAR},]]></if>
		 <if test="insertdate != null "> <![CDATA[insertdate=#{insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="inserttime != null "> <![CDATA[inserttime=#{inserttime, jdbcType=VARCHAR},]]></if>
		 <if test="updatedate != null "> <![CDATA[updatedate=#{updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="updatetime != null "> <![CDATA[updatetime=#{updatetime, jdbcType=VARCHAR},]]></if>
	</set>
	<![CDATA[ where orgcustomerno = #{orgcustomerno} and type = #{type}
	]]>
	</update>
	<!--企业业务流程信息表organ_flow 批量实体更新记录 mysql-->
	<update id="updAllowEmptyBatchEntity" parameterType="com.msjf.finance.cas.common.dao.entity.OrganFlowEntity" databaseId="mysql">
		<foreach item="item" index="index" collection="list" open="" close=";" separator=";">
			update cas.organ_flow
		<set>
		 <if test="item.orgcustomerno != null "><![CDATA[orgcustomerno=#{item.orgcustomerno, jdbcType=VARCHAR},]]></if>
		 <if test="item.customerno != null "><![CDATA[customerno=#{item.customerno, jdbcType=VARCHAR},]]></if>
		 <if test="item.type != null "><![CDATA[type=#{item.type, jdbcType=VARCHAR},]]></if>
		 <if test="item.status != null "><![CDATA[status=#{item.status, jdbcType=VARCHAR},]]></if>
		 <if test="item.processid != null "><![CDATA[processid=#{item.processid, jdbcType=VARCHAR},]]></if>
		 <if test="item.isreturn != null "><![CDATA[isreturn=#{item.isreturn, jdbcType=VARCHAR},]]></if>
		 <if test="item.insertdate != null "><![CDATA[insertdate=#{item.insertdate, jdbcType=VARCHAR},]]></if>
		 <if test="item.inserttime != null "><![CDATA[inserttime=#{item.inserttime, jdbcType=VARCHAR},]]></if>
		 <if test="item.updatedate != null "><![CDATA[updatedate=#{item.updatedate, jdbcType=VARCHAR},]]></if>
		 <if test="item.updatetime != null "><![CDATA[updatetime=#{item.updatetime, jdbcType=VARCHAR},]]></if>
			</set>
			<![CDATA[ where orgcustomerno = #{item.orgcustomerno} and type = #{item.type}
			]]>
		</foreach>
	</update>
	<!--企业业务流程信息表organ_flow 按主键删除记录-->
	<delete id="delEntityKey" parameterType="com.msjf.finance.cas.common.dao.key.OrganFlowKey">
	<![CDATA[
		delete from cas.organ_flow
		where
			orgcustomerno = #{orgcustomerno} and type = #{type}
	]]>
	</delete>
	<!--企业业务流程信息表organ_flow 根据主键批量删除记录  -->
	<delete id="delEntityKeyBatch" parameterType="com.msjf.finance.cas.common.dao.key.OrganFlowKey">
		delete from cas.organ_flow where
		<foreach item="item" index="index" collection="list" open="(" close=")" separator="or">
			<![CDATA[ orgcustomerno = #{item.orgcustomerno} and type = #{item.type}
			]]>
		</foreach>
	</delete>
</mapper>