<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msjf.finance.cas.modules.person.dao.PersonInfoDao">


    <!--个人基本信息表person_info 按实体新增记录 mysql-->
    <insert id="insPersonInfo" parameterType="java.util.Map">
        <![CDATA[
		insert into cas.person_info(
			customerno,membername,education,workexp,investexp,
			idcard,isamac,amacno,insertdate,inserttime,
			updatedate,updatetime
		) values(
			#{customerno, jdbcType=VARCHAR},#{membername, jdbcType=VARCHAR},#{education, jdbcType=VARCHAR},#{workexp, jdbcType=CLOB},#{investexp, jdbcType=CLOB},
			#{idcard, jdbcType=CLOB},#{isamac, jdbcType=VARCHAR},#{amacno, jdbcType=VARCHAR},#{insertdate, jdbcType=VARCHAR},#{inserttime, jdbcType=VARCHAR},
			#{updatedate, jdbcType=VARCHAR},#{updatetime, jdbcType=VARCHAR}
	)]]>
    </insert>

    <!--个人基本信息表cif_person_info 按主键查询-->
    <select id="selectByKey" parameterType="com.msjf.finance.cas.common.dao.key.PersonInfoKey"
            resultType="com.msjf.finance.cas.common.dao.entity.PersonInfoEntity">
	<![CDATA[
		select
			customerno "customerno",
			membername "membername",
			education "education",
			workexp "workexp",
			investexp "investexp",
			idcard "idcard",
			isamac "isamac",
			amacno "amacno",
			insertdate "insertdate",
			inserttime "inserttime",
			updatedate "updatedate",
			updatetime "updatetime"
		from cas.person_info
		where
			customerno = #{customerno}
	]]>
	</select>

    <!--个人基本信息表person_info 查询个人信息列表 mysql-->
    <select id="queryPersonInfoList"  databaseId="mysql" resultType="com.msjf.finance.cas.common.dao.entity.PersonInfoEntity">
      select customerno,membername,education,workexp,investexp,
			idcard,isamac,amacno from cas.person_info
    </select>

</mapper>