<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.msjf.finance.cas.common.joindao.persistence.OrganInfoJoinDao">

	<!--在变更记录表检查企业名称是否已存在 -->
	<select id="checkExistCompanyNameInChange" parameterType="java.util.HashMap"
			resultType="java.util.LinkedHashMap">
	<![CDATA[
		select a.membername "membername"
		  from cas.organ_info_change a
		 inner join (select max(t.version) "version", t.customerno
					   from cas.organ_info_change t
					  group by t.customerno) b
			on a.customerno = b.customerno
		   and a.version = b.version
		 where a.membername = #{memberName}
	]]>
	</select>

	<!--根据企业代码删除企业迁入信息(企业成员申报信息表) -->
	<delete id="delMemberSubmitByCustomerNo" parameterType="com.msjf.finance.cas.common.dao.entity.MemberSubmitEntity">
	<![CDATA[
		delete from kpfsp.cif_member_submit
		where
			customerno = #{customerno}
	]]>
	</delete>


</mapper>