<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msjf.finance.cas.common.joindao.persistence.AccountJoinDao">
    <!--个人基本信息表person_info 按实体新增记录 mysql-->
    <select id="selectOrganInfoByMobile" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        <![CDATA[
        select t.certificateno "certificateno",t1.membername "membername" from cas.cust t
        inner join cas.organ_info t1 on t.customerno=t1.customerno
        and t.cormob=#{mobile}
	]]>
    </select>

    <select id="selectLoginInfo" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        <![CDATA[
            SELECT
                t.customerno "customerno",
                t.certificateno "loginname",
                t1.PASSWORD "password"
            FROM
                cas.cust t
                INNER JOIN cas.aus_authone t1 ON t.customerno = t1.customerno
            WHERE
                t.certificateno = #{loginname}
	]]>
    </select>

    <select id="selectPersonInfoByMob" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        <![CDATA[
            SELECT
                t.customerno "customerno",
                t.mobile "loginname",
                t1.PASSWORD "password"
            FROM
                cas.cust t
                INNER JOIN cas.aus_authone t1 ON t.customerno = t1.customerno
            WHERE
                t.mobile = #{loginname}
                and t.membertype='0'
	]]>
    </select>

    <select id="selectCompanyPersonInfo" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
            SELECT
                a.customerno "customerno",
                b.membername "membername",
                a.certificatetype "certificatetype",
                t6.dict_value "certificatetypename",
                a.certificateno "certificateno",
                b.organclass,
                f5.dict_value "organclassname",
                b.organtype,
                f6.dict_value "organtypename",
                a.linkmanname "linkmanname",
                a.mobile "mobile",
                a.corname "corname",
                a.cormob "cormob",
                a.corcardno "corcardno",
                b.regicapital "regicapital",
                b.regicapitalbz "regicapitalbz",
                f7.dict_value "regicapitalbzname",
                b.businessscope "businessscope",
                b.companyintro "companyintro",
                b.establishdate "establishdate",
                b.registerprovince "registerprovince",
                t3.dict_value "registerprovincename",
                b.registercity "registercity",
                t4.dict_value "registercityname",
                b.registercounty "registercounty",
                t5.dict_value "registercountyname",
                b.registertreet "registertreet",
                b.realprovince "realprovince",
                t.dict_value "realprovincename",
                b.realcity "realcity",
                t1.dict_value "realcityname",
                b.realcounty,
                t2.dict_value "realcountyname",
                b.businessfile "businessfile",
                b.realtreet,
                b.hanginfo "hanginfo",
                t7.dict_value "hanginfoname",
                b.companymodel "companymodel",
                t8.dict_value "companymodelname",
                b.investsource,
                t9.dict_value "investsourcename",
                d.isfundfiling "isfundfiling",
                d.fundfilingno "fundfilingno",
                d.caremarkettype "caremarkettype",
                d.projectphase "projectphase",
                d.companytrade,
                d.projecttrade,
                d.fundprojecttrade,
                d.fundprojectphase,
                d.classify,
                f4.dict_value "classifyname",
                d.fundmanagername,
                d.fundmanagerno,
                d.employeenum,
                d.profittype,
                d.projectintro,
                d.blocname,
                d.companyname,
                d.companyinfo,
                d.investnum,
                d.businesstype,
                d.objecttype,
                d.specificbusinesstype,
                d.profitmodel,
                d.capitalsource
            FROM
                (
                    SELECT
                        customerno,
                        certificatetype,
                        certificateno,
                        linkmanname,
                        LINKMAN_CERTIFICATENO,
                        mobile,
                        corname,
                        corcardno,
                        cormob,
                        email
                    FROM
                        cas.cust
                    WHERE
                        customerno =#{customerno}
                ) a
            LEFT JOIN cas.organ_info b ON a.customerno = b.customerno
            LEFT JOIN cas.sys_dict t ON t.dict_id = 'dict101021'
            AND t.dict_key = b.realprovince
            LEFT JOIN cas.sys_dict t1 ON t1.dict_id = 'dict101022'
            AND t1.dict_key = b.realcity
            LEFT JOIN cas.sys_dict t2 ON t2.dict_id = 'dict101023'
            AND t2.dict_key = b.realcounty
            LEFT JOIN cas.sys_dict t3 ON t3.dict_id = 'dict101021'
            AND t3.dict_key = b.registerprovince
            LEFT JOIN cas.sys_dict t4 ON t4.dict_id = 'dict101022'
            AND t4.dict_key = b.registercity
            LEFT JOIN cas.sys_dict t5 ON t5.dict_id = 'dict101023'
            AND t5.dict_key = b.registercounty
            LEFT JOIN cas.sys_dict t6 ON t6.dict_id = '1012'
            AND t6.dict_key = a.certificatetype
            LEFT JOIN cas.sys_dict t7 ON t7.dict_id = '112'
            AND t7.dict_key = b.hanginfo
            LEFT JOIN cas.sys_dict t8 ON t8.dict_id = '113'
            AND t8.dict_key = b.companymodel
            LEFT JOIN cas.sys_dict t9 ON t9.dict_id = '114'
            AND t9.dict_key = b.investsource
            LEFT JOIN cas.organ_append d ON d.customerno = a.customerno
            LEFT JOIN cas.sys_dict f4 ON f4.dict_id = '121'
            AND f4.dict_key = d.classify
            LEFT JOIN cas.sys_dict f5 ON f5.dict_id = '105'
            AND f5.dict_key = b.organclass
            LEFT JOIN cas.sys_dict f6 ON f6.dict_id = '104'
            AND f6.dict_key = b.organtype
            LEFT JOIN cas.sys_dict f7 on f7.dict_id='dict9002002'
            and f7.dict_key=b.regicapitalbz
    </select>
    <select id="selectEmployeeInfo" parameterType="java.util.Map" resultType="java.util.LinkedHashMap">
        <![CDATA[
            SELECT
                t.customerno "customerno",
                t.loginname "loginname",
                t1.PASSWORD "password"
            FROM
                cas.employee t
                INNER JOIN cas.aus_authone t1 ON t.customerno = t1.customerno
            WHERE
                t.loginname =#{loginname}
		]]>
    </select>

    <select id="selectSysdictlistByKey" parameterType="com.msjf.finance.cas.common.dao.key.SysDictKey"
            resultType="com.msjf.finance.cas.common.dao.entity.SysDictEntity">
        select dict_id "dictId",
        dict_name "dictName",
        dict_key "dictKey",
        dict_value "dictValue"
        from kpfsp.sys_dict
        where
        <foreach item="item" collection="list" index="index"
                 separator="or" open="(" close=")">
            dict_id = #{item.dictId} and dict_key = #{item.dictKey}
        </foreach>
    </select>
</mapper>